/* ------ CSS Reset ------ */

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* prettier-ignore */
body {
	line-height: 1;
  box-sizing: border-box;
}

/* prettier-ignore */
ol, ul {
	list-style: none;
}

/* prettier-ignore */
blockquote, q {
	quotes: none;
}

/* prettier-ignore */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------ Main Screen ------ */

body {
  font-family: "VT323";
  background-image: url(../assets/12.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-family: "Luckiest Guy";
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: 7px;
  -webkit-text-stroke: 1.5px #843c0c;
  -webkit-text-fill-color: #eb5b00;
  background-color: #ffd966;
  padding: 1rem 3rem;
  border-radius: 30px;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.6);
  animation: scale-up-center 900ms linear infinite alternate both;
}

.content .play-button {
  background-color: #f26b0f;
  border: none;
  border-radius: 50%;
  margin-top: 5rem;
  cursor: pointer;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  transition: 300ms;
}

.content .play-button:hover {
  transform: scale(1.15);
  transition: 300ms;
}

.content .play-button .play-icon {
  color: #fcc737;
  font-size: 3rem;
  text-align: center;
}

.content p {
  font-size: 5rem;
  text-transform: uppercase;
  -webkit-text-stroke: 1.5px #7f6000;
  -webkit-text-fill-color: #ebde67;
  letter-spacing: 4px;
  margin-top: 3rem;
  animation: scale-up-center-text 900ms linear infinite alternate both;
}

.animation-asset {
  position: absolute;
}

.boy-main {
  left: 10%;
  top: 53%;
  max-width: 7.5vw;
  height: auto;
  animation: translate-boy-girl 0.45s linear infinite alternate both;
}

.girl-main {
  right: 0;
  bottom: 0;
  max-width: 14vw;
  height: auto;
  animation: translate-boy-girl 0.45s linear 0.1s infinite alternate both;
}

.parrot {
  max-width: 9vw;
  height: auto;
  left: 0;
  top: 13%;
}

.monyet2 {
  max-width: 24vw;
  height: auto;
  right: 6%;
  top: 0;
  z-index: -1;
  animation: translate-monyet 1s linear infinite alternate both;
}

.daun1 {
  max-width: 20vw;
  height: auto;
  right: -2%;
  bottom: -10%;
  animation: rotate-daun 0.5s linear infinite alternate;
}

.daun3 {
  max-width: 13vw;
  height: auto;
  left: -2%;
  bottom: -5%;
  animation: rotate-daun 0.9s linear 0.1s infinite alternate-reverse;
}

.daun5 {
  max-width: 9vw;
  height: auto;
  left: 9%;
  bottom: -1%;
  animation: scale-up-daun 0.8s linear infinite alternate both;
}

/* ------ Animation ------ */
@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.06);
  }
}

@keyframes scale-up-daun {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes scale-up-center-text {
  0% {
    transform: scale(1);
    -webkit-text-fill-color: #ebde67;
  }
  100% {
    transform: scale(1.09);
    -webkit-text-fill-color: whitesmoke;
  }
}

@keyframes translate-boy-girl {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-13px);
  }
}

@keyframes translate-monyet {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes rotate-daun {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-10deg);
  }
}
