/* ------ CSS Reset ------ */

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* prettier-ignore */
body {
	line-height: 1;
  box-sizing: border-box;
}

/* prettier-ignore */
ol, ul {
	list-style: none;
}

/* prettier-ignore */
blockquote, q {
	quotes: none;
}

/* prettier-ignore */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------ Main Screen ------ */

body {
  font-family: "VT323";
  background-image: url(../assets/peta.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #8bade3;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.speech-bubble {
  position: absolute;
  left: 33%;
  top: 32%;
  background: #e2f0d9;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: scale-in-center 0.7s ease 3s both;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #e2f0d9;
  border-bottom: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.speech-bubble h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  color: #385723;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.speech-bubble p {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0.8rem 1.5rem;
  color: #548235;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.speech-bubble .mulai {
  background-color: #385723;
  color: #e2f0d9;
  font-family: "VT323";
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  transition: 200ms;
}

.speech-bubble .mulai:hover {
  background-color: #e2f0d9;
  color: #385723;
}

.boy-girl {
  position: absolute;
  left: 18%;
  bottom: 0;
}

.animate-boy-girl {
  left: 18%;
  bottom: 0;
  animation: move 2s ease-in-out 1s forwards;
}

.boy-girl .boy {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 6vw;
  height: auto;
  z-index: 2;
}

.boy-girl .girl {
  position: absolute;
  left: 48px;
  bottom: 0;
  max-width: 6vw;
  height: auto;
}

/* ------ Animation ------ */

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes move {
  0% {
    left: 18%;
    bottom: 0;
  }
  100% {
    left: 28%;
    bottom: 15%;
  }
}
